
*.tlog
*.ipch
*.tlog
*.tlog
*Debug\
Working_algorithm/.vs/Kuznechik_All_Together/v17/.suo
Working_algorithm/.vs/Kuznechik_All_Together/v17/.suo
Working_algorithm/.vs/Kuznechik_All_Together/v17/.suo
*.db-shm
*.db
Working_algorithm/.vs/Kuznechik_All_Together/v16/.suo
*.opendb
*.db-wal
*.ilk
*.log
*.pdb
*.txt
*.enc
*.idb
*.obj
*.user
*.recipe
*.exe
